html,
body {
  height: 100%;
  font-family: "Microsoft Yahei";
  color: #333;
  background-color: #fff;
}
* {
  box-sizing: border-box;
  /*去掉使用轮播图时Chrome浏览器的警告*/
  touch-action: pan-y;
}
h2 {
  margin: 0;
}
